.item {
  max-width: 7vw;
  padding: 2vh 1.5vw;
  cursor: pointer;

  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;

  line-height: 6vh;
}

.item:hover {
  color: aqua;
}
