{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"ecmaFeatures": {
			"classes": true,
			"jsx": true,
			"spread": true,
			"destructuring": true,
			"defaultParams": true,
			"templateStrings": true,
			"binaryLiterals": true,
			"forOf": true
		},
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"env": {
		"node": true,
		"browser": true,
		"shared-node-browser": true,
		"serviceworker": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"plugins": ["jsx-a11y", "@typescript-eslint", "prettier"],
	"rules": {
		"no-console": "error",
		"prettier/prettier": [
			"error",
			{},
			{
				"usePrettierrc": true
			}
		],
		"no-unused-vars": "warn",
		"no-duplicate-imports": "error",
		"@typescript-eslint/await-thenable": "error"
	}
}
