.card {
  border: 0.1vw solid black;
  border-radius: 1vw;
  width: 37vw;
  height: 62vh;
  margin: 1vw;
  overflow: hidden;
}

.imageContainer {
  width: 36.8vw;
  height: calc(62vh - 0.2vw);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  border-radius: 1vw;
  width: 36.8vw;
  height: calc(62vh - 0.2vw);
  z-index: 1;

  background-color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.hoverContent {
  opacity: 0;

  z-index: 0;

  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.card:hover .preview {
  z-index: 0;
  opacity: 0.2;
}

.card:hover .hoverContent {
  z-index: 1;
  opacity: 1;
}
