.container {
  border: 0.2vh black solid;
  padding: 1vh;
  border-radius: 1vw;
  margin: 0.5vw 0.5vw;
}

.text {
  margin-right: 1vh;
  cursor: pointer;

  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.container:hover .text {
  padding-right: 2vh;
}
