@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav {
  z-index: 1000;
  height: 10vh;
}

.customscroll,
html {
  overflow-x: hidden;
  overflow-y: overlay;
}

.customscroll::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0.73vw;
}

.customscroll::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}

.customscroll::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background: black;
  border-radius: 20px;
}

.content {
  top: 10vh;
}

.linebreak {
  border-top: 0.08vh solid grey;
}

.circle {
  border-radius: 100vw;
}
