.myPhoto {
  width: 17vw;
  height: 17vw;
}

.bio {
  min-width: 35vw;
  width: 35vw;
  max-width: 35vw;
  margin-left: 4vw;
}

.description {
  margin-top: 2vh;
  font-weight: 500;
  margin-bottom: 2vh;
}
