PUBLIC_GTM_ID=
CMS_API_VERSION=
CMS_DATASET=
CMS_PROJECT_ID=
CMS_TOKEN=

PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_AUTH_DOMAIN=
PUBLIC_FIREBASE_DATABASE_URL=
PUBLIC_FIREBASE_PROJECT_ID=
PUBLIC_FIREBASE_STORAGE_BUCKET=
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=
PUBLIC_FIREBASE_MEASUREMENT_ID=

SENTRY_AUTH_TOKEN=
SENTRY_ORGANIZATION=
SENTRY_PROJECT=
SENTRY_DSN=

# Whether to allow google crawling through robots.txt
# For development environment, this should be `false`
# Values: `true` or `false` (string)
ENABLE_ROBOTS=
